
.DS_Store

# Data
# Most datasets should be loaded in a more reliable location
# But useful for dataset that will never be reused.
data/

# Python related
__pycache__
.ipynb_checkpoints/

build/
*.zip

# Experiments (model weights/results)
experiments/
*.pth

# Latex
*.aux
*.fdb_latexmk
*.fls
*.log
*.synctex.gz
*.out
*.pyg
*.bbl
*.blg

